<h1> Books index page</h1>


<%@books.each do |book|%>
  <h3>Book title:<%= book.title %></h3>
  <p>Best seller?<%= book.best_seller %></p>
  <p>Book length is <%= book.pages %> pages</p>

  <ul><%= link_to "Edit Book:#{book.title}", "/books/#{book.id}/edit" %></ul>
  <ul><%= link_to "More info on:#{book.title}", "/books/#{book.id}" %></ul>

  <%= link_to "Edit Book:#{book.title}", "/books/#{book.id}/edit" %>
  <%= link_to "Delete Book:#{book.title}", "/books/#{book.id}", method: :delete %>

<% end %>
